.student-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid orange;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}


.student-form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black
}

.student-form button {
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}