/* style for the whole page */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 36px;
    border-radius: 10px;
    outline: 10px dotted rgb(8, 7, 7);
    width: 400px;
    text-align: center;
}

input, button{
    padding: 10px;
    margin: 10px;
    width: 80%;
    /* border: 5px solid orchid; */
    border-radius: 10px;
    outline: 2px solid rgb(8, 7, 7);
}

button {
    background-color: olivedrab;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: chocolate;
}

#message {
    font-size: 18px;
    font-weight: bold;
    color: burlywood;
}